body {
  width: 320px;
  margin: 0;
  color: #cccccc;
  background: rgba(55,69,214,1);
  background: -moz-linear-gradient(left, rgba(55,69,214,1) 0%, rgba(41,153,227,1) 50%, rgba(188,224,238,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(55,69,214,1)), color-stop(50%, rgba(41,153,227,1)), color-stop(100%, rgba(188,224,238,1)));
  background: -webkit-linear-gradient(left, rgba(55,69,214,1) 0%, rgba(41,153,227,1) 50%, rgba(188,224,238,1) 100%);
  background: -o-linear-gradient(left, rgba(55,69,214,1) 0%, rgba(41,153,227,1) 50%, rgba(188,224,238,1) 100%);
  background: -ms-linear-gradient(left, rgba(55,69,214,1) 0%, rgba(41,153,227,1) 50%, rgba(188,224,238,1) 100%);
  background: linear-gradient(to right, rgba(55,69,214,1) 0%, rgba(41,153,227,1) 50%, rgba(188,224,238,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3745d6', endColorstr='#bce0ee', GradientType=1 );
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  cursor: default;
}

#song #album-name{
	font-size: 0.8em;
}

#song #song-name{
	color: #f67600;
	font-size: 1.3em;
}

#song{
	width: 100%;
	height: 95px;
	background-color: rgba(34, 34, 36, 0.22);
}

#song-info{
	margin-left: 10px;
	margin-top: 10px;
	width: 225px;
	height: 65px;
	float: left;
}

#album-art{
	margin-right: 10px;
	margin-top: 10px;
	width: 75px;
	height: 75px;
	float: right;
}

#player{ 	
	/* background-color: rgba(255, 255, 0, 0.50); */
	text-align: center;
	background-color: rgba(0, 0, 0, 0.35);
	border: 1px solid rgba(9, 29, 173, 0.19);
	height: 40px;
	padding-left: 60px;
}

#played-songs-list{
	max-height: 200px;
	overflow: auto;
	padding: 10px;
	background-color: rgba(34, 34, 36, 0.22);
}

.played-song{
	font-size: 1.1em;
}

.played-song-info{
	float: left;
	width: 245px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-bottom: 5px;
}

.played-song-title{
	color: #f67600;
}

button.song-list-like, button.song-list-liked, button.song-list-disliked{
	float: right;
	cursor:pointer;
    border:none;
    background-size: 20px 20px;
	width: 20px;
	height: 20px;
}

/* button.play, button.pause, button.next{
	float: left;
	cursor:pointer;
    border:none;
    background-size: 280px 200px;
	width: 30px;
	height: 30px;
	margin: -4px 0 -4px 0;
} */

/* .play{
	background:url(./images/thin-round-icons.png) no-repeat;
	background-position-x: -169px;
	background-position-y: 0px;
}

.pause{
	background:url(./images/thin-round-icons.png) no-repeat;
	background-position-x: -85px;
	background-position-y: 0px;
} */

/* .next{
	background:url(./images/thin-round-icons.png) no-repeat;
	background-position-x: -40px;
	background-position-y: 0px;
}
 */
 
button.play,
button.pause,
button.next,
button.like,
button.liked,
button.dislike,
button.mute,
button.playing{
	float: left;
	cursor:pointer;
    border:none;
    background-size: 30px 30px;
	width: 30px;
	height: 30px;
	margin: 5px;
	-webkit-filter: invert(100%);
}

button.play:hover,
button.pause:hover,
button.next:hover,
button.like:hover,
button.liked:hover,
button.dislike:hover,
button.mute:hover,
button.playing:hover{
	-webkit-filter: invert(0%);
}

button:focus {outline:0;}

.play{
	background:url(./images/Play.png) no-repeat;
}

.pause{
	background:url(./images/Pause.png) no-repeat;
}

.next{
	background:url(./images/Next.png) no-repeat;
}

.like{
	background:url(./images/Thumb-up.png) no-repeat;
}

.liked{
	background:url(./images/Thumb-up-full.png) no-repeat;
}

.dislike{
	background:url(./images/Thumb-down.png) no-repeat;
}

.playing{
	background:url(./images/Audio-playing.png) no-repeat;
}

.mute{
	background:url(./images/Mute.png) no-repeat;
}

.song-list-liked{
	background:url(./images/Heart-full.png) no-repeat;
	-webkit-filter: invert(100%);
}

.song-list-disliked{
	background:url(./images/Heart-broken.png) no-repeat;
	-webkit-filter: invert(100%);
}

.song-list-like{
	background:url(./images/Heart.png) no-repeat;
	-webkit-filter: invert(100%);
}

.played-song{
	top:0px;
    text-decoration: none;
    cursor:pointer;
}

.panel {
	float: left;
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#33ffffff',GradientType=0 ); /* IE6-9 */
	margin: 0 0 3px -10px;
	width: 320px;
	text-align: left;
	padding-left: 18px;
	padding-bottom: 5px;
	font-size: 0.8em;
}